body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1{
    font-size: 50px;
}
.name{
    color:rgb(34, 206, 148);
}

section{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width:50%;
    padding-left: 10%;
}
.half-width img{
    padding: 200px 50px 10px 5px;
    width:100%; 
    margin-right: 50px;
}

.link-button{
    text-decoration: none;
    color: cornsilk;
    font-weight: 400;
    background-image: linear-gradient(rgb(65, 231, 137), rgb(2,22,22));
    padding: 10px 40px;

}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

.dream-half{
    width:50%;
    padding-top: 20px;
    padding-left: 10%;
}

.dream-half img{
    width:100%;
    margin-top: 150px;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
